* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
 
header {
    position: fixed;
    z-index: 9;
    height: 70px;
    background-color: black;
    width: 100vw;

    border: 5px solid red;
}

main {
    background-color: black;
    height: 100vw;
    width: 100vw;
}

.margin {
    margin: 0px 3%;
    border: yellow solid 3px;
}

.header-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.header-button {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

.button {
    display: inline-block;
    background-color: #3f3f3f;
    color: white;
    font-size: ;
    padding: 4px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 7px;
}

.main-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    justify-content: space-around;

}

.webcam-container {
    width: calc(100% / 7);
    height: 100px;
}