* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #1a1a1a;
    overflow: hidden;
}
 
header {
    position: fixed;
    z-index: 9;
    height: 70px;
    background-color: transparent;
    width: 100vw;

    border: 5px solid red;
}

main {
    height: 100%;
    width: 100vw;
}

.header-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.header-button {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

.button {
    display: inline-block;
    background-color: #3f3f3f;
    color: white;
    font-size: ;
    padding: 4px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 7px;
}

.main-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.webcam-container {
    width: calc(100% / 7);
    min-width: 246px;
    padding: 3px;
    position: relative;
}

img {
    height: 150px;
    width: 100%;
}

.nome-utente{
    position: absolute;
    bottom: 6px;
    left: 0;
    color: white;
    padding: 3px;
    background-color: rgba(63, 63, 63, 0.5);
}